name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: npm ci

      - name: Unit/Snapshot tests
        run: |
            npm run test
            npx eslint . --ext .ts || true

      - name: Package and CLI usage in a CDK Project - Smoke Test
        run: ./smoke-test/smoke-test.sh
